<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>
<app-header></app-header>
<app-search></app-search>
<!-- Recipe Section Begin -->
<section class="recipe-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="recipe-item">
                    <a href="#"><img src="assets/img/recipe/recipe-1.jpg" alt=""></a>
                    <div class="ri-text">
                        <div class="cat-name">Desert</div>
                        <a href="#">
                            <h4>One Pot Weeknight Soup</h4>
                        </a>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="recipe-item">
                    <a href="#"><img src="assets/img/recipe/recipe-2.jpg" alt=""></a>
                    <div class="ri-text">
                        <div class="cat-name">Desert</div>
                        <a href="#">
                            <h4>Blueberries cake</h4>
                        </a>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="recipe-item">
                    <a href="#"><img src="assets/img/recipe/recipe-3.jpg" alt=""></a>
                    <div class="ri-text">
                        <div class="cat-name">Desert</div>
                        <a href="#">
                            <h4>Pork Steak with Onion</h4>
                        </a>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="recipe-item">
                    <a href="#"><img src="assets/img/recipe/recipe-4.jpg" alt=""></a>
                    <div class="ri-text">
                        <div class="cat-name">Desert</div>
                        <a href="#">
                            <h4>Pizza with salami</h4>
                        </a>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="recipe-item">
                    <a href="#"><img src="assets/img/recipe/recipe-5.jpg" alt=""></a>
                    <div class="ri-text">
                        <div class="cat-name">Desert</div>
                        <a href="#">
                            <h4>Pumpkin Chilli Soup</h4>
                        </a>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="recipe-item">
                    <a href="#"><img src="assets/img/recipe/recipe-6.jpg" alt=""></a>
                    <div class="ri-text">
                        <div class="cat-name">Desert</div>
                        <a href="#">
                            <h4>Salmon with veggies</h4>
                        </a>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="recipe-item">
                    <a href="#"><img src="assets/img/recipe/recipe-7.jpg" alt=""></a>
                    <div class="ri-text">
                        <div class="cat-name">Desert</div>
                        <a href="#">
                            <h4>Strawberry Chessecake</h4>
                        </a>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="recipe-item">
                    <a href="#"><img src="assets/img/recipe/recipe-8.jpg" alt=""></a>
                    <div class="ri-text">
                        <div class="cat-name">Desert</div>
                        <a href="#">
                            <h4>Key Lime Pie</h4>
                        </a>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="recipe-item">
                    <a href="#"><img src="assets/img/recipe/recipe-9.jpg" alt=""></a>
                    <div class="ri-text">
                        <div class="cat-name">Desert</div>
                        <a href="#">
                            <h4>Pizza with cheesse</h4>
                        </a>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="recipe-pagination">
                    <a href="#" class="active">01</a>
                    <a href="#">02</a>
                    <a href="#">03</a>
                    <a href="#">04</a>
                    <a href="#">Next</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Recipe Section End -->

<!-- Categories Feature Recipe Section Begin -->
<section class="categories-feature-recipe spad">
    <div class="section-title">
        <h5>Featured Recipes</h5>
    </div>
    <div class="container po-relative">
        <div class="plus-icon">
            <i class="fa fa-plus"></i>
        </div>
        <div class="row">
            <div class="col-lg-7">
                <div class="cfr-item">
                    <div class="cfr-item-img set-bg" data-setbg="assets/img/cat-feature/big-1.jpg">
                        <i class="fa fa-plus"></i>
                    </div>
                    <div class="cfr-item-text">
                        <div class="cat-name">Vegan</div>
                        <a href="#">
                            <h4>One Pot Weeknight Lasagna Soup Recipe</h4>
                        </a>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
                <div class="cfr-item">
                    <div class="cfr-item-img set-bg" data-setbg="assets/img/cat-feature/big-2.jpg">
                        <i class="fa fa-plus"></i>
                    </div>
                    <div class="cfr-item-text">
                        <div class="cat-name">Meat Lover</div>
                        <a href="#">
                            <h4>Veggie soup with Mushrooms</h4>
                        </a>
                        <p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Lorem ipsum dolor sit amet.</p>
                    </div>
                </div>
                <div class="cfr-item">
                    <div class="cfr-item-img set-bg" data-setbg="assets/img/cat-feature/big-3.jpg">
                        <i class="fa fa-plus"></i>
                    </div>
                    <div class="cfr-item-text">
                        <div class="cat-name">Desert</div>
                        <a href="#">
                            <h4>Caramel Ice Cream with Berries</h4>
                        </a>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
                <div class="cfr-item">
                    <div class="cfr-item-img set-bg" data-setbg="assets/img/cat-feature/big-4.jpg">
                        <i class="fa fa-plus"></i>
                    </div>
                    <div class="cfr-item-text">
                        <div class="cat-name">Desert</div>
                        <a href="#">
                            <h4>Freash Octopuse with lime juice</h4>
                        </a>
                        <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit
                            amet, consectetur adipiscing.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 offset-lg-1">
                <div class="cfr-small-item">
                    <a href="#"><img src="assets/img/cat-feature/small-1.jpg" alt=""></a>
                    <div class="cfr-small-text">
                        <div class="cat-name">Vegan</div>
                        <h6>One Pot Weeknight Lasagna Soup Recipe</h6>
                    </div>
                </div>
                <div class="cfr-small-item">
                    <a href="#"><img src="assets/img/cat-feature/small-2.jpg" alt=""></a>
                    <div class="cfr-small-text">
                        <div class="cat-name">Vegan</div>
                        <h6>Lava Cake with a Tone of Chocolate</h6>
                    </div>
                </div>
                <div class="cfr-small-item">
                    <a href="#"><img src="assets/img/cat-feature/small-3.jpg" alt=""></a>
                    <div class="cfr-small-text">
                        <div class="cat-name">Vegan</div>
                        <h6>One Pot Weeknight Lasagna Soup Recipe</h6>
                    </div>
                </div>
                <div class="cfr-small-item">
                    <a href="#"><img src="assets/img/cat-feature/small-4.jpg" alt=""></a>
                    <div class="cfr-small-text">
                        <div class="cat-name">Vegan</div>
                        <h6>Smoked Salmon mini Sandwiches with Onion</h6>
                    </div>
                </div>
                <div class="cfr-small-item">
                    <a href="#"><img src="assets/img/cat-feature/small-5.jpg" alt=""></a>
                    <div class="cfr-small-text">
                        <div class="cat-name">Vegan</div>
                        <h6>Asparagus with Pork Loin and Vegetables</h6>
                    </div>
                </div>
                <div class="cfr-small-item">
                    <a href="#"><img src="assets/img/cat-feature/small-6.jpg" alt=""></a>
                    <div class="cfr-small-text">
                        <div class="cat-name">Vegan</div>
                        <h6>Dry Cookies with Corn</h6>
                    </div>
                </div>
                <div class="cfr-small-item">
                    <a href="#"><img src="assets/img/cat-feature/small-7.jpg" alt=""></a>
                    <div class="cfr-small-text">
                        <div class="cat-name">Vegan</div>
                        <h6>Italian Tiramisu with Coffe</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Categories Feature Recipe Section End -->
<app-footer></app-footer>
<search-modal></search-modal>