<!-- Page Preloder -->
<div id="preloder" *ngIf="blogs_list.length < 1">
  <div class="loader"></div>
</div>
<app-header></app-header>
<app-search></app-search>
<!-- Recipe Section Begin -->
<section class="recipe-section spad">
  <div class="container">
    <h1 class="page-title">Bài viết từ các tác giả bạn theo dõi</h1>
    <div class="row">
      <div class="col-lg-4 col-sm-6" *ngFor="let blog of blogs_list | paginate: { itemsPerPage: 6, currentPage: page }">
        <div class="recipe-item">
          <!-- Feature image -->
          <a [routerLink]="['/blog/', blog.slug]">
            <div class="img-wrapper">
              <img src={{blog?.image}} alt="feature-img" class="feature-img"
                onerror="this.src='assets/img/no-image.jpg'">
            </div>
          </a>
          <div class="ri-text blog-card">
            <div class="cat-name" *ngFor="let tag of blog?.tagList">
              <a [routerLink]="['/tag/',tag]">{{tag}}</a>
            </div>
            <a class="blog-title" [routerLink]="['/blog/', blog.slug]">
              <h4 class="text-2line">{{blog?.title}}</h4>
            </a>
            <div class="meta">
              <span><i class="fa fa-user"></i>
                <a [routerLink]="['/author/',blog?.author?.username || 'all']">
                  {{blog?.author?.username}}
                </a>
              </span>
              <span><i class="fa fa-calendar-o"></i>{{blog?.createdAt | date: 'dd/MM/yyyy'}}</span>
            </div>
            <p class="text-3line">{{blog?.description}}</p>
            <a [routerLink]="['/blog/', blog.slug]" class="btn more-link">Read more</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="has-text-centered fl-pagination">
          <pagination-controls (pageChange)="page = $event" previousLabel="Trước" nextLabel="Sau" autoHide="true">
          </pagination-controls>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
<search-modal></search-modal>
