<header class="header-section-other">
    <div class="container-fluid">
        <div class="logo">
            <a routerLink="/home"><img src="assets/img/logo/brandname.png" alt="logo" width="90%"></a>
        </div>
        <div class="nav-menu">
            <nav class="main-menu mobile-menu">
                <ul>
                    <li><a routerLink="/home">Trang chủ</a></li>
                    <li><a style="cursor: pointer;">Điều hướng</a>
                        <ul class="sub-menu">
                            <li><a routerLink="/about">Thông tin</a></li>
                            <!-- <li><a routerLink="/categories">Categories</a></li> -->
                            <!-- <li><a routerLink="/recipes">Recipe</a></li> -->
                            <li><a routerLink="/blogs">Bài viết</a></li>
                            <!-- <li><a href="contact.html">Contact</a></li> -->
                        </ul>
                    </li>
                    <li><a routerLink="/about">Thông tin</a></li>
                    <li *ngIf="!is_loggedIn"><a routerLink="/user/login">Đăng nhập</a></li>
                    <li *ngIf="is_loggedIn"><a routerLink="/user/profile">{{ username }}</a>
                        <ul class="sub-menu">
                            <li><a routerLink="/user/profile">Profile</a></li>
                            <li><a routerLink="/create-blog">Viết bài</a></li>
                            <li><a style="cursor: pointer;" (click)="logout()">Đăng xuất</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="nav-right search-switch">
                    <i class="fa fa-search"></i>
                </div>
            </nav>           
        </div>
        <div id="mobile-menu-wrap"></div>
    </div>
</header>