<body>
  <!-- Page Preloder -->
  <div id="preloder">
    <div class="loader"></div>
  </div>
  <section class="login-page">
    <div class="container h-100">
      <div class="row justify-content-center h-100">
        <div class="card-wrapper">
          <div class="brand">
            <a routerLink="/home"><img src="assets/img/logo/logo.png" alt="logo"></a>
          </div>
          <div class="card fat">
            <div class="card-body">
              <h4 class="card-title">Đăng nhập</h4>
              <form #login="ngForm" id="loginForm" (ngSubmit)="onLogin(login.value)">
                <div class="form-group">
                  <label for="email">Email</label>
                  <input id="email" type="email" class="form-control"
                    [class.is-invalid]="emailControl.invalid && emailControl.touched" name="email" required ngModel
                    #emailControl="ngModel" autofocus>
                  <div class="invalid-feedback d-block" role="alert" *ngIf="emailControl.invalid && emailControl.dirty">
                    Yêu cầu email hợp lệ
                  </div>
                </div>

                <div class="form-group">
                  <label for="password">Mật khẩu
                    <a routerLink="/user/forgotpassword" class="float-right">
                      Quên mật khẩu?
                    </a>
                  </label>
                  <input id="password" type="password" minlength="8" class="form-control"
                    [class.is-invalid]="passwordControl.invalid && passwordControl.touched" name="password" required
                    ngModel #passwordControl="ngModel" data-eye>
                  <div class="invalid-feedback d-block" role="alert"
                    *ngIf="passwordControl.invalid && passwordControl.dirty">
                    Yêu cầu mật khẩu
                  </div>
                </div>

                <!-- <div class="form-group">
                  <div class="custom-checkbox custom-control">
                    <input type="checkbox" name="remember" id="remember" class="custom-control-input">
                    <label for="remember" class="custom-control-label">Remember Me</label>
                  </div>
                </div> -->

                <div class="form-group m-0">
                  <button type="submit" form="loginForm" class="btn btn-primary btn-block" [disabled]="login.invalid">
                    Đăng nhập
                  </button>
                </div>
                <div class="mt-4 text-center">
                  Không có tài khoản? <a routerLink="/user/register">Đăng ký</a>
                </div>
              </form>
              <div class="social-login text-center">
                <h6 class="social-label mt-2">Hoặc</h6>
                <div class="btn-group">
                  <a class="btn btn-google social-btn" href=''>
                    <span class="social-icon"><i class="fa fa-google"></i></span> Sign in with Google
                  </a>
                </div>
                <div class="btn-group">
                  <a class="btn btn-facebook social-btn" (click)="signInFB()">
                    <span class="social-icon"><i class="fa fa-facebook"></i></span> Sign in with Facebook
                  </a>
                </div>
                <div class="btn-group">
                  <a class="btn btn-twitter social-btn" href=''>
                    <span class="social-icon"><i class="fa fa-twitter"></i></span> Sign in with Twitter
                  </a>
                </div>
              </div>
              <!-- <div class="fb-login-button" data-size="large" data-button-type="login_with" data-layout="rounded"
                data-auto-logout-link="false" data-use-continue-as="true" data-width=""></div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
