<body>
  <!-- Page Preloder -->
  <div id="preloder">
    <div class="loader"></div>
  </div>
  <section class="login-page">
    <div class="container h-100">
      <div class="row justify-content-center h-100">
        <div class="card-wrapper">
          <div class="brand">
            <a routerLink="/home"><img src="assets/img/logo/logo.png" alt="logo"></a>
          </div>
          <div class="card fat">
            <div class="card-body">
              <h4 class="card-title">Login</h4>
              <form #login="ngForm" id="loginForm" (ngSubmit)="onLogin(login.value)">
                <div class="form-group">
                  <label for="email">Email</label>
                  <input id="email" type="email" class="form-control" 
                    [class.is-invalid]="emailControl.invalid && emailControl.touched" name="email" required 
                    ngModel #emailControl="ngModel" autofocus>
                  <div class="invalid-feedback d-block" role="alert" *ngIf="emailControl.invalid && emailControl.dirty">
                    Email is invalid
                  </div>
                </div>

                <div class="form-group">
                  <label for="password">Password
                    <a routerLink="/user/forgotpassword" class="float-right">
                      Forgot Password?
                    </a>
                  </label>
                  <input id="password" type="password" minlength="8" class="form-control"
                    [class.is-invalid]="passwordControl.invalid && passwordControl.touched" name="password" required 
                    ngModel #passwordControl="ngModel" data-eye>
                  <div class="invalid-feedback d-block" role="alert" *ngIf="passwordControl.invalid && passwordControl.dirty">
                    Password is required
                  </div>
                </div>

                <!-- <div class="form-group">
                  <div class="custom-checkbox custom-control">
                    <input type="checkbox" name="remember" id="remember" class="custom-control-input">
                    <label for="remember" class="custom-control-label">Remember Me</label>
                  </div>
                </div> -->

                <div class="form-group m-0">
                  <button type="submit" form="loginForm" class="btn btn-primary btn-block" [disabled]="login.invalid">
                    Login
                  </button>
                </div>
                <div class="mt-4 text-center">
                  Don't have an account? <a routerLink="/user/register">Register</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
