<!-- Hero Search Section Begin -->
<div class="hero-search set-bg" data-setbg="assets/img/search-bg.jpg">
    <div class="container">
        <div class="filter-table">
            <form action="#" class="filter-search">
                <input type="text" placeholder="Tìm bài viết...">
                <select nice-select id="category">
                    <option value="">Danh mục</option>
                </select>
                <select nice-select id="tag">
                    <option value="">Tags</option>
                </select>
                <button type="submit">Tìm</button>
            </form>
        </div>
    </div>
</div>
<!-- Hero Search Section End -->