.logo img {
    width: 500px;
}

.top-recipe-text a {
    margin-bottom: 0.25rem;
}

.top-recipe-text h6 {
    color: #FC0254;
    font-weight: 600;
    margin-bottom: 1.2rem;
}

.section-title a {
    color: white;
}

.pt-recipe-img {
    background-position: center;
    background-repeat: no-repeat;
}