<!-- Similar Recipe Section Begin -->
<section class="similar-recipe spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="similar-item">
                    <a href="#"><img src="assets/img/cat-feature/small-7.jpg" alt=""></a>
                    <div class="similar-text">
                        <div class="cat-name">Vegan</div>
                        <h6>Italian Tiramisu with Coffe</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="similar-item">
                    <a href="#"><img src="assets/img/cat-feature/small-6.jpg" alt=""></a>
                    <div class="similar-text">
                        <div class="cat-name">Vegan</div>
                        <h6>Dry Cookies with Corn</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="similar-item">
                    <a href="#"><img src="assets/img/cat-feature/small-5.jpg" alt=""></a>
                    <div class="similar-text">
                        <div class="cat-name">Vegan</div>
                        <h6>Asparagus with Pork Loin and Vegetables</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="similar-item">
                    <a href="#"><img src="assets/img/cat-feature/small-4.jpg" alt=""></a>
                    <div class="similar-text">
                        <div class="cat-name">Vegan</div>
                        <h6>Smoked Salmon mini Sandwiches with Onion</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Similar Recipe Section End -->