<!-- Page Preloder -->
<div id="preloder">
  <div class="loader"></div>
</div>

<app-header></app-header>

<body>
  <div class="container d-flex justify-content-center">
    <div class="card profile-card w-50">
      <div class="row">
        <div class="col-md-12">
          <div class="card-body info-section">
            <form #changepass="ngForm" (ngSubmit)="onSubmit(changepass.value)" id="changepassForm">
              <div class="form-group">
                <label for="oldpass">Mật khẩu cũ</label>
                <input type="password" id="oldpass" name="oldpass" class="form-control" required ngModel>
                <label for="newpass">Mật khẩu mới</label>
                <input type="password" id="newpass" name="newpass" class="form-control" required ngModel>
                <input type="submit" class="btn btn-success" value="Xác nhận" form="changepassForm"
                  [disabled]="changepass.invalid">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
  <search-modal></search-modal>
</body>
