/* You can add global styles to this file, and also import other style files */

@import '~jquery-nice-select/css/nice-select';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.text-3line {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* number of lines to show */
    -webkit-box-orient: vertical;
}

.text-2line {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* number of lines to show */
    -webkit-box-orient: vertical;
}

.user-btn {
    border: 1px solid #eee;
    border-radius: 8px;
    box-shadow: 1px 1px 5px -1px rgba(0, 0, 0, 0.75);
}

.cat-name {
    margin-right: 3px;
}

.cat-name a {
    margin: 0!important;
    color: white;
}

/* Pagination */

.fl-pagination /deep/ .ngx-pagination .current {
    background: #FC0254;
    color: #fff;
    transition: 0.2s;
}

.meta {
    margin-bottom: 1.2rem;
}

.meta span, .meta a {
    display: inline-block!important;
}

.meta span a {
    margin-top: 0!important;
    margin-bottom: 0.25rem!important;
    color: #212529
}

.meta span a:hover {
    color: #212529
}

.meta span:after {
    content: "";
    display: inline-block;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: #212529;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    position: relative;
    top: -3px
}

.meta span:last-child:after {
    display: none
}

.meta i {
    margin-right: 0.5rem;
}

.page-title {
    font-size: 2em;
    margin-bottom: 0.5rem;
}

.page-title span {
    color: #FC0254;
}

.feature-img {
    object-fit: cover;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.feature-img:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.img-wrapper {
    overflow: hidden;
}

.more-link {
    display: inline!important;
    border-radius: 0!important;
    color: white!important;
    background-color: #FC0254!important;
    border: none!important;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.more-link:hover {
    background-color: #009E30!important;
}

.more-link:focus {
    box-shadow: 0 0 0 0.2rem rgba(78, 252, 107, 0.25)!important;
}

.blog-card .blog-title {
    margin-bottom: 0.25rem!important;
}

.select-btn {
    display: inline-block;
    font-weight: 400;
    background-color: #eee!important;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.select-btn.active {
    color: white;
    background-color: #FC0254!important;
}