<!-- Hero Search Section Begin -->
<div class="hero-search set-bg">
    <div class="container">
        <div class="filter-table">
            <form action="#" class="filter-search">
                <input type="text" placeholder="Search recipe">
                <select nice-select id="category">
                    <option value="">Category</option>
                </select>
                <select nice-select id="tag">
                    <option value="">Tags</option>
                </select>
                <button type="submit">Search</button>
            </form>
        </div>
    </div>
</div>
<!-- Hero Search Section End -->