.vertical-center {
    min-height: 100%;
    /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh;
    /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
}

.search-text {
    font-size: 2em;
    margin-bottom: 0.5rem;
}

.search-text .keyword {
    text-decoration: none;
    color: #FC0254;
}

.search-text .tag {
    color: #009E30;
}